#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ----------------------------------------------------------------------------------------------------
            // |  +/=   |   1   |   2   |   3   |   4   |   5   |   6   |   7   |   8   |   9   |   0    | -/_    |
            // |  TAB   |   Q   |   W   |   E   |   R   |   T   |   Y   |   U   |   I   |   O   |   P    | :/\    |
            // |  CAPS  |   A   |   S   |   D   |   F   |   G   |   H   |   J   |   K   |   L   |   ;    | '/"    |
            // | LSHIFT |   Z   |   X   |   C   |   V   |   B   |   N   |   M   |   ,   |   .   |   /    | RSHIFT |
            // |        |   ~   |  :/\  |  LA   |  RA   |       |       |   UA  |  DA   |   [   |   ]    |        |
            // |  BS    |  DEL  |  End  | HOME  |  ALT  |  CTRL |  CTRL |  Win  | PgUp  |  PgDn | Enter  | Space  |

            bindings = <
&kp EQUAL   &kp N1         &kp N2     &kp N3      &kp N4     &kp N5  &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB     &kp SQT        &kp COMMA  &kp PERIOD  &kp P      &kp Y   &kp F   &kp G      &kp C      &kp R     &kp L     &kp SLASH
&kp ESCAPE  &kp A          &kp O      &kp E       &kp U      &kp I   &kp D   &kp H      &kp T      &kp N     &kp S     &kp NON_US_BACKSLASH
&kp LSHFT   &kp SEMICOLON  &kp Q      &kp J       &kp K      &kp X   &kp B   &kp M      &kp W      &kp V     &kp Z     &kp RSHFT
            &kp GRAVE      &kp CAPS   &kp LEFT    &kp RIGHT                  &kp UP     &kp DOWN   &kp LBKT  &kp RBKT
                                      &kp DEL     &kp LALT                   &kp LCMD   &kp RCTRL
                                                  &kp HOME                   &kp PG_UP
                           &kp SPACE  &kp DEL     &kp END                    &kp PG_DN  &kp ENTER  &kp BSPC
            >;
        };
    };
};
